/*Importa da Google Fonts il font 'Alex Brush'*/
@import url(http://fonts.googleapis.com/css?family=Alex+Brush);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; }

body {
	margin: 0;
	padding: 0;
	background-color: beige;
	background-image: url('images/noise.png');
/*	Combino colore di sfondo con un'immagine trasparente con del noise per dare movimento allo sfondo senza infastidire*/
	font: 0.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #191919;
}
/*Link non visitati*/
a:link { 
	color: #0062cc;
	outline: none;
}
/*Link con mouse sopra*/
a:hover {
	text-decoration: none;
}
/*Link con focus da tastiera*/
a:focus {
	text-decoration: none;
	outline: 1px dotted #0062cc;
	outline-offset: 2px;
}
a.internal_nav {
	font-size: 0.8em;
	color: #0062cc;
}
img {
	border: 0;
}

#header {
	padding: 0.5em 0 0.5em 2em;
	border-bottom: 1px solid #444;
	background: #7c0001; /*Fallback per chi non supporta gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#290d0e'); /*proprieta` proprietaria IE*/
	background: -moz-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -webkit-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c50000), color-stop(1, #290d0e));
	background: -o-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -ms-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: url('images/logoBackground.png') no-repeat right top, -moz-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: url('images/logoBackground.png') no-repeat right top, -webkit-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: url('images/logoBackground.png') no-repeat right top, -webkit-gradient(linear, left top, left bottom, color-stop(0, #c50000), color-stop(1, #290d0e));
	background: url('images/logoBackground.png') no-repeat right top, -o-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: url('images/logoBackground.png') no-repeat right top, -ms-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: url('images/logoBackground.png') no-repeat right top, linear-gradient(top, #c50000 0%, #290d0e 100%);
}
#header img {
	float: left;
	margin-right: 2.5em;
}
#header h1 {
	font: normal 4em 'Alex Brush', cursive;
	color: #fff;
	margin: 0.2em;
	text-shadow: 0 1px 3px rgba(218, 218, 193, 0.4); /*offsetX, offsetY, raggioSfumatura, colore*/
}
#header p {
	font-size: 1.3em;
	font-style: italic;
	color: #ffffee;
	margin: 0.2em;
	font-weight: 200;
}

#path {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: rgb(139,35,33);
	padding: 0.5em;
	font-size: 0.9em;
	letter-spacing: 1px;
	color: beige;
	box-shadow: 0px 1px 3px 1px #b3b3b3; /*offsetX, offsetY, raggioSfumatura, spread(=ingrandimento), colore*/
}
#path span {
	margin-left: 1em;
}

#container {
	width: 85%;
	margin: 1em auto; /*1em sotto e sopra, auto ai lati cioe` centro il contenitore*/
	padding: 1.5em;
	border: 1px solid #6a6a6a;
	border-radius: 3px;
	background-color: #fff;
	background-image: url('images/shadow_left.png'), url('images/shadow_right.png'); /*Immagini di sfondo multiple (css3)*/
	background-position: left top, right top;
	background-repeat: repeat-y;
	box-shadow: 0 0px 1px 0px #999;
}
#navigation {
	float: left;
	width: 20%;
}
#navigation ul {
	list-style-type: none;
	margin-top: 3.5em;
	padding: 0;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #ccc;
}
#navigation ul li {
	background-position: -5px -5px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #4c4c4c;
	border-top: 1px solid #ccc;
	line-height: 2.7em;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
#navigation ul li:hover {
	background-color: #e6e6e6;
}
#navigation ul li#here {
	background-color: #e6e6e6;
	font-weight: bold;
	padding-left: 3em;
}
#navigation ul li a {
	display: block;
	padding-left: 3em;
	outline: none;
}
#navigation ul li a:focus {
	background-color: e6e6e6;
	outline: 1px dotted #0062cc;
	outline-offset: 2px;
}
#navigation ul li.homepage {
	background-image: url('images/menu/homepage.png');
}
#navigation ul li.catalogo {
	background-image: url('images/menu/catalogo.png');
}
#navigation ul li.chisiamo {
	background-image: url('images/menu/chisiamo.png');
}
#navigation ul li.contatti {
	background-image: url('images/menu/contatti.png');
}
#navigation ul li.registrati {
	background-image: url('images/menu/registrati.png');
}
#navigation ul li.login {
	background-image: url('images/menu/login.png');
}

#content {
	margin-left: 22%;
	padding-left: 2em;
	border-left: 1px solid #ccc;
}
/*#content h2 {
	background-color: #730c0c;
	color: #fff;
	font-size: 1.5em;
	padding: 0.5em;
	padding-left: 1em;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #730c0c;
	border: 1px solid #333;
	font-weight: 400;
}*/
#content h2 {
	color: #730c0c;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	border-bottom: 1px solid #e6e6e6;
	margin-right: 4em;
	margin-bottom: 1.8em;
}
#content #chisiamo img {
	float: right;
	width: 35%;
	margin: 0 1em 2em 2em;
	border-radius: 1px;
	box-shadow: 0 0 5px #444;
}
#content #chisiamo p {
	font-style: italic;
	line-height: 1.7em;
	margin: 2em 0;
}
span.firstLetter  {
	font-size: 1.8em;
}
#content ul.address {
	list-style-type: none;
	margin-bottom: 2.5em;
}
#content ul.address li:first-child {
	font-weight: bold;
	font-size: 1.2em;
}
#content ul.address li {
	margin-bottom: 0.5em;
}

table#orari {
	text-align: center;
}
#orari caption {
	display: none;
}
#orari th {
	background-color: rgb(139,35,33);
	color: #fff;
	text-shadow: 0 1px 1px #333;
	padding: 0.5em;
	border-radius: 2px;
	font-weight: 400;
}
#orari thead tr th:first-child {
	background-color: transparent;
}
#orari td {
	border: 1px solid #ccc;
	background-color: #e6e6e6;
	border-radius: 2px;
	padding: 0.3em;
	font-weight: bold;
}

.product_container {
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	background: #f6f5f2 url('images/noise.png') repeat;
	background-color: #f6f5f2;
	background-image: url('images/noise.png');
	background-repeat: repeat;
	background-position: left top;
}
.product_container h3 {
	font-size: 1.3em;
	color: #51090a;
	margin: 0 0 0.5em 0;
	padding: 0 0 0.5em 0;
	border-bottom: 1px solid #ccc;
}
.product_container img {
	margin-top: 0.5em;
	float: left;
	width: 17%;
	border-radius: 3px;
	box-shadow: 0 0 3px 0 #444;
}
.product_container div {
	margin-left: 22%;
}
.product_container dl {
}
.product_container dt {
	margin-bottom: 0.3em;
	font-weight: bold;
}
.product_container dd {
	margin: 0 0 0.5em 1.5em;
}


form {
	margin: 2em 0;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 0.5em;
	background: #f6f5f2 url('images/noise.png') repeat left top;
}
form legend {
	font-size: 0.9em;
	color: #4c4c4c;
}
form fieldset {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
form fieldset#site {
	background-image: url('images/form/site.png');
}
form fieldset#personal {
	background-image: url('images/form/personal.png');
}
form fieldset p {
	margin: 1.1em 0;
}
form label {
	float: left;
	padding-top: 0.3em;
}
form input {
	display: block;
	margin-left: 13em;
	padding: 0.3em 0.5em;
	background-color: #fff;
	border-radius: 2px;
	outline: none;
	border: 1px solid #999;
	box-shadow: 1px 1px 3px 0 #b3b3b3 inset;
	font-size: 0.9em;
}
form input:focus {
	box-shadow: 0 0 5px 0 #0062cc;
	border: 1px solid #0062cc;
}
form p.buttons {
	margin: 1em;
}
form p.buttons input {
	display: inline;
	width: 7em;
	margin-left: 1em;
	border-radius: 4px;
	padding: 0.3em 1em;
	box-shadow: 0 0 0 0 inset;
	font-weight: bold;
	text-shadow: 0 1px 1px #ccc;
}
form p.buttons input:hover {
	background-color: #ccc;
}
form p.buttons input:active {
	background-color: #b3b3b3;
	box-shadow: 1px 1px 5px 0 #b3b3b3 inset;
}

#footer {
	border-top: 1px solid #fff;
	padding: 1em;
	color: #fff;
	font-size: 0.8em;
	box-shadow: 0px -1px 2px 1px #b3b3b3;
	background: #7c0001; /* fallback per chi non supporta gradient */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000', endColorstr='#290d0e'); /*proprieta` proprietaria IE*/
	background: -moz-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -webkit-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c50000), color-stop(1, #290d0e));
	background: -o-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: -ms-linear-gradient(top, #c50000 0%, #290d0e 100%);
	background: linear-gradient(top, #c50000 0%, #290d0e 100%);
}
#footer p {
	display: inline;
}
#footer #authors {
	float: left;
	margin: 1em;
}
#footer #validation {
	float: right;
	list-style-type: none;
	margin: 1em;
}
#footer li {
	display: inline;
	margin-left: 2em;
	background-color: #fff; /* fallback per chi non supporta rgba */
	background-color: rgba(255,255,255, .5);
	padding: 0.5em;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 #fff;
}
.clear {
	clear: both;
}