/*CONTAINER PER IL CATALOGO VINI*/
.pr_container {
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 1em;
	background: #f6f5f2 url('../../images/noise.png') repeat;
}
.pr_container #pr_head {
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
}
.pr_container h3 {
	font-size: 1.3em;
	color: #51090a;
}
.pr_container form {
	position: relative;
	top: -27px;
	right: 0;
	float: right;
	padding: 0;
	margin: 0;
}
.pr_container form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.pr_container form label {
	font-size: 0.8em;
}
.pr_container form input[type=text] {
	display: inline;
	margin: 0;
	margin-left: 1em;
	background-color: #fff;
	border-radius: 2px;
	outline: none;
	border: 1px solid #999;
	box-shadow: 1px 1px 3px 0 #c5c5c5 inset;
	font-size: 1em;
	padding: 0.4em;
}
.pr_container form input[type=text]:focus {
	box-shadow: 0 0 5px 0 #0062cc;
	border: 1px solid #0062cc;
}
.pr_container form #prenota {
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	border-radius: 2px;
	padding: 0.4em 1.5em;
	font-size: 0.9em;
	color: #fff;
	-webkit-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.pr_container form #prenota:hover, .pr_container form #prenota:focus {
	background-color: #357ae8;
	border: 1px solid #2f5bb7;
}
.pr_container form #prenota:active {
	box-shadow: 1px 1px 5px #444 inset;
}

.pr_container img {
	float: left;
	width: 17%;
	border-radius: 3px;
	box-shadow: 0 0 3px 0 #444;
}
.pr_container dl {
	margin-bottom: 1em;
	margin-left: 22%;
}
.pr_container dt {
	margin-bottom: 0.3em;
	font-weight: bold;
}
.pr_container dd {
	margin: 0 0 0.5em 1.5em;
}

/*VISUALIZZAZIONE VINO*/

img#vino {
	float: left;
}
dl#descr_vino {
}
dl#descr_vino dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}
dl#descr_vino dd {
	margin-bottom: 1em;	
}
a#rit_cat {
	clear: both;
}