/*CHI SIAMO presentazione*/
#chisiamo img {
	float: right;
	width: 35%;
	margin: 0 1em 2em 2em;
	border-radius: 1px;
	box-shadow: 0 0 5px #444;
}
#chisiamo p {
	font-style: italic;
	line-height: 1.7em;
	margin: 2em 0;
}

/*INDIRIZZO CONTATTI*/
ul.address {
	list-style-type: none;
	margin-bottom: 2.5em;
}
ul.address li:first-child {
	font-weight: bold;
	font-size: 1.2em;
}
ul.address li {
	margin-bottom: 0.5em;
}

/*TABELLA DEGLI ORARI*/
#orari {
	text-align: center;
}
#orari caption {
	display: none;
}
#orari th {
	background-color: rgb(139,35,33);
	color: #fff;
	text-shadow: 0 1px 1px #333;
	padding: 1em;
	border-radius: 2px;
	font-weight: 400;
}
#orari thead tr th:first-child {
	background-color: transparent;
}
#orari td {
	border: 1px solid #ccc;
	background-color: #e6e6e6;
	border-radius: 2px;
	padding: 0.3em;
	font-weight: bold;
}
