/*FORM REGISTRAZIONE E LOGIN E MODIFICA DATI UTENTE*/
#user {
	margin: 2em 0;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 0.5em;
	background: #f6f5f2 url('../../images/noise.png') repeat left top;
}
#user legend, #user_modify legend {
	font-size: 0.9em;
	color: #4c4c4c;
}
#user fieldset, #user_modify fieldset {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
#user fieldset#site, #user_modify fieldset#site {
	background-image: url('../../images/form/site.png');
}
#user fieldset#personal, #user_modify fieldset#personal {
	background-image: url('../../images/form/personal.png');
}
#user fieldset p, #user_modify fieldset p {
	margin: 1.1em 0;
}
#user label, #user_modify label {
	float: left;
	padding-top: 0.3em;
}
#user input, #user_modify input {
	display: block;
	margin-left: 13em;
	padding: 0.3em 0.5em;
	background-color: #fff;
	border-radius: 2px;
	outline: none;
	border: 1px solid #999;
	box-shadow: 1px 1px 3px 0 #c5c5c5 inset;
	font-size: 0.9em;
}
#user_modify input {
	margin-left: 17em;
}
#user input:focus, #user_modify input:focus {
	box-shadow: 0 0 5px 0 #0062cc;
	border: 1px solid #0062cc;
}
#user p.buttons, #user_modify p.buttons {
	margin: 1em;
}
#user p.buttons input, #user_modify p.buttons input {
	display: inline;
	width: 7em;
	margin-left: 1em;
	border-radius: 4px;
	padding: 0.4em 1em;
	box-shadow: 0 0 0 0 inset;
	font-weight: bold;
	text-shadow: 0 1px 1px #ccc;
}
#user p.buttons input:hover, #user p.buttons input:focus, #user_modify p.buttons input:hover, #user_modify p.buttons input:focus {
	background-color: #ccc;
}
#user p.buttons input:active, #user_modify p.buttons input:active {
	background-color: #b3b3b3;
}