/*NAVIGATION AREA CLIENTE*/
#nav_cliente {
	list-style-type: none;
}
#nav_cliente li {
	display: inline;
	padding: 0.7em 1em;
	background: #f6f5f2 url('../../images/noise.png') repeat;
	border: 1px solid #b3b3b3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#nav_cliente li#here {
	border-bottom: 1px solid #f6f5f2;
}


/*DIV CONTENITORE DATI CLIENTE*/
#data_cliente {
	margin-top: 10px;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	border-top-left-radius: 0;
	padding: 1em;
	background: #f6f5f2 url('../../images/noise.png') repeat;
	margin-bottom: 2em;
	min-height: 100px;
}

/*LISTA ORDINI CLIENTE*/
#data_cliente ul {
	list-style-type: none;
	margin: 1em;
}
#data_cliente ul li {
	background-color: trasparent;
	padding: 0.5em;
	border-radius: 2px;
	margin-bottom: 1em;
}
#data_cliente ul li#attention {
	font-weight: bold;
}
#data_cliente ul li span {
	margin: 0 1em;
	font-size: 0.8em;
}