/*FORM REGISTRAZIONE E LOGIN E MODIFICA DATI UTENTE*/
#user {
	margin: 2em 0;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	padding: 0.5em;
	background: #f6f5f2 url('../../images/noise.png') repeat left top;
}
#data_cliente #user {
	border: 0;
	margin: 0;
}
#user legend {
	font-size: 0.9em;
	color: #4c4c4c;
}
#user fieldset {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	background-position: 97% 50%;
	background-repeat: no-repeat;
}
#user fieldset#site {
	background-image: url('../../images/form/site.png');
}
#user fieldset#personal {
	background-image: url('../../images/form/personal.png');
}
#user fieldset p {
	margin: 1.1em 0;
}
#user label {
	display: inline-block;
	width: 30%;
	padding-top: 0.3em;
}
#user input {
	display: inline;
	margin-left: 0.5em;
	padding: 0.3em 0.5em;
	background-color: #fff;
	border-radius: 2px;
	outline: none;
	border: 1px solid #999;
	box-shadow: 1px 1px 3px 0 #c5c5c5 inset;
	font-size: 0.9em;
}
#user input:focus {
	box-shadow: 0 0 5px 0 #0062cc;
	border: 1px solid #0062cc;
}
#user span.help {
	color: red;
	font-weight: bold;
	margin-left: 1em;
	font-size: 0.8em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#user p.buttons {
	margin: 1em;
}
#user p.buttons input {
	display: inline;
	width: 7em;
	margin-left: 1em;
	border-radius: 4px;
	padding: 0.4em 1em;
	box-shadow: 0 0 0 0 inset;
	font-weight: bold;
	text-shadow: 0 1px 1px #ccc;
}
#user p.buttons input:hover, #user p.buttons input:focus {
	background-color: #ccc;
}
#user p.buttons input:active {
	background-color: #b3b3b3;
}