@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@import url("homepage.css");
@import url("catalogo.css");
@import url("chisiamo.css");
@import url("form_user.css");
@import url("area_personale.css");

body {
	background: trasparent;
	font: normal 10pt/1.2em "Times New Roman", Times, Georgia, serif;
	color: black;
}
a {
	color: black;
	text-decoration: underline;
}
a.internal_nav {
	display: none;
}
#header img {
	width: 150px;
	float: right;
	margin-right: 40px;
	position: relative;
	top: -20px;
}
#header h1 {
	font-family: 'Alex Brush';
	display: inline;
	float: none;
	font-size: 26pt;
}
#header p {
	display: none;
}
#path {
	font-size: 10pt;
	margin-top: 2em;
	margin-bottom: 2em;
}
#content h2 {
	font-size: 14pt;
	margin-top: 2em;
	margin-bottom: 2em;
}
#navigation {
	display: none;
}
#footer {
	display: none;
}