#search {
	display: none;
}
.pr_container .form_prenota {
	display: none;
}
.pr_container h3 {
	font-size: 12pt;
	clear: both;
}
.pr_container img {
	float: left;
	width: 80px;
	margin-bottom: 2em;
}
.pr_container a {
	display: none;
}
.pr_container dt {
	margin-right: 1em;
	font-weight: bold;
	float: left;
	margin-right: 0.5em;
}
.pr_container dd {
	margin-bottom: 0.5em;
}